body {
    background-image: url("golfcourse.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: green;
    text-align: center;
}

.container {
    width: 200px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    border-style: double;
    border-color: green;
    border-width: thick;
    height: 300px;
}

.game-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}